.navbar {
 box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}
body {
background-image:url("floral_background.png");
background-size:cover;

}
.col-xs-6 {
background-color: rgba(255, 255, 255, 0.8);
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
min-height:1000px;

}
body >.container-fluid {
width:60%;
margin-left:20%;
background-color: rgba(255, 255, 255, 0.8);
min-height:1000px;
box-shadow: 1px 4px 4px 4px rgba(0, 0, 0, 0.2);
}
body > .col-xs-12 {
background-color: rgba(255, 255, 255, 0.5);
min-height:1000px;
}